In [1]:
#CREATING CLASS

class Student: #always start from upper case
    name = "Tushti"

#creating object(instance)

f1=Student()
print(f1.name)

Tushti

In [7]:
class Fruits:
    a="Apple"
    b="Orange"
    c="Cherry"

f2=Fruits()

print(f2.a)
print(f2.b)
print(f2.c)

Apple
Orange
Cherry

In [8]:
class Student:
    name = "Tushti"
    age = 18
    department = "Data Science"

f3=Student()

print(f3.name)
print(f3.age)
print(f3.department)

Tushti
18
Data Science

In [5]:
class Student():
    def __init__(self,name,age):
        self.name=name
        self.age=age

s1 = Student("Tushti",18)
print(s1.name,s1.age)

s2 = Student("Vanshika",17)
print(s2.name,s2.age)

s3 = Student("Mayank",26)
print(s3.name,s3.age)

s4 = Student("Prachi",20)
print(s4.name,s4.age)

s5 = Student("Kajal",24)
print(s5.name,s5.age)

Tushti 18
Vanshika 17
Mayank 26
Prachi 20
Kajal 24

In [9]:
class College():
    def __init__(self,name,department):
        self.name=name
        self.department=department

c1= College("Tushti","SODS")
print(c1.name,c1.department)

c2= College("Ritik","SOA")
print(c2.name,c2.department)

c3= College("Vanshika","Cinema")
print(c3.name,c3.department)

c4= College("Mayank","Modelling")
print(c4.name,c4.department)

c5= College("Divya","SODS")
print(c5.name,c5.department)

Tushti SODS
Ritik SOA
Vanshika Cinema
Mayank Modelling
Divya SODS

In [11]:
class Fruits():
    def __init__(self,name,colour):
        self.name=name
        self.colour=colour

f1= Fruits("Apple","Red")
print(f1.name,f1.colour)

f2= Fruits("Orange","Orange")
print(f2.name,f2.colour)

f3= Fruits("Grapes","Green")
print(f3.name,f3.colour)

f4= Fruits("Banana","Yellow")
print(f4.name,f4.colour)

f5= Fruits("Cherry","Red")
print(f5.name,f5.colour)

Apple Red
Orange Orange
Grapes Green
Banana Yellow
Cherry Red

In [13]:
class Movies():
    def __init__(self,name,genre):
        self.name=name
        self.genre=genre

m1= Movies("INCIDIOUS","HORROR")
print(m1.name,m1.genre)

m2= Movies("LA LA LAND","ROMANTIC")
print(m2.name,m2.genre)

m3= Movies("1920","HORROR")
print(m3.name,m3.genre)

m4= Movies("CONJURING","HORROR")
print(m4.name,m4.genre)

m5= Movies("NOTEBOOK","ROMANTIC")
print(m5.name,m5.genre)

INCIDIOUS HORROR
LA LA LAND ROMANTIC
1920 HORROR
CONJURING HORROR
NOTEBOOK ROMANTIC

In [7]:
class car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

class ElectricCar(car): #inheritance #child class
    def __init__(self,brand,model,battery_size):
        super().__init__ (brand,model)
        self.battery_size = battery_size

mycar1=ElectricCar("BMW","Z4","75kwh")
print(mycar1.brand,mycar1.model,mycar1.battery_size)

mycar2=ElectricCar("MG","Z5","74kwh")
print(mycar2.brand,mycar2.model,mycar2.battery_size)

mycar3=ElectricCar("Toyota","Fortuner","70kwh")
print(mycar3.brand,mycar3.model,mycar3.battery_size) 

mycar4=ElectricCar("Honda","Civic","80kwh")
print(mycar4.brand,mycar4.model,mycar4.battery_size)

BMW Z4 75kwh
MG Z5 74kwh
Toyota Fortuner 70kwh
Honda Civic 80kwh